django==5.0.6
django-widget-tweaks==1.5.0
requests==2.32.3

logboek @ https://github.com/MinBZK/logboek-dataverwerkingen-logboek/archive/32445858c931b4e9d86aba72d055f15d3c61fd37.zip#subdirectory=libs/logboek-python
